<a href="https://colab.research.google.com/github/Red-Rose-AI/Learn_Numpy_by_solving_problems/blob/main/Learn_Numpy_By_Solving_Problem_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# <font color='red'>------------||  Red Rose AI  ||------------</font>

---


**Empowering AI Enthusiasts: Theory to Practice with Red Rose AI**


---

**Problem 2:** Create a NumPy array called even_numbers containing even numbers from 2 to 10. Print the array..

In [ ]:
import numpy as np

In [ ]:
np.array([2, 4, 6, 8, 10])

array([ 2,  4,  6,  8, 10])

In [ ]:
even_list = [i+2 for i in range(10) if i % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
even_numbers = np.array(even_list)
print('even numbers: ', even_numbers)
print('type: ', type(even_numbers))

even numbers:  [ 2  4  6  8 10]
type:  <class 'numpy.ndarray'>

In [ ]:
even_numbers = np.array(range(2, 11, 2))
print('even numbers: ', even_numbers)
print('type: ', type(even_numbers))

even numbers:  [ 2  4  6  8 10]
type:  <class 'numpy.ndarray'>

In [ ]:
even_numbers = np.arange(start=2, stop=11, step=2, dtype=np.int32)
print('even numbers: ', even_numbers)
print('type: ', type(even_numbers))

even numbers:  [ 2  4  6  8 10]
type:  <class 'numpy.ndarray'>

In [ ]:
range(1, 5, .5)

TypeError: ignored

In [ ]:
example = np.arange(1, 5, .5, dtype=np.float32)

In [ ]:
example

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5], dtype=float32)

In [ ]:
example.dtype

dtype('float32')